@font-face {
  font-family: "iconfont"; /* Project id 2125024 */
  src: url('iconfont.woff2?t=1629970064771') format('woff2'),
       url('iconfont.woff?t=1629970064771') format('woff'),
       url('iconfont.ttf?t=1629970064771') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huo:before {
  content: "\e657";
}

.icon-zhongguoguoqi:before {
  content: "\e63a";
}

.icon-languige:before {
  content: "\e618";
}

.icon-zhongguoguoqi1:before {
  content: "\e64d";
}

.icon-guoqi-uk:before {
  content: "\e600";
}

.icon-keepa:before {
  content: "\e603";
}

.icon-zhexiantu:before {
  content: "\e635";
}

.icon-amazon:before {
  content: "\ea09";
}

